
body{
background: #fff;
}

body ::selection {
background: rgb(45, 190, 96);
color:#fff;
}

h2,h3,h4,h5,h6{
font-weight: normal;
color: rgb(45, 190, 96);

}

h1 {
font-weight: normal;
margin-bottom: 10px;
line-height: 1.4;
font-size: 24px;
border-bottom:1px solid rgb(204, 204, 204);

}

h2 {
/*font-weight: normal;*/
font-size: 22px;
max-width: 100%;
border-bottom:1px solid rgb(204, 204, 204);
box-sizing: border-box !important;
word-wrap: break-word !important;
}

h3 {
font-size: 20px;
}

h4 {
font-size: 18px;
}

h5 {
font-size: 16px;
}

h6{
font-size:14px;
}


/*斜体样式*/
em, .em {
/*font-style: normal;*/
/*border-bottom:2px solid red;*/
/*font-weight: bold;*/
}


.toc > ul > li > a {
display: none;
}

.toc a {
font-size: 1em;
height: 1.6em;
line-height: 1.6em;
}

.toc > ul {
padding-left: 0;
}

.toc > ul > li > ul {
padding-left: 2px;
}

.toc > ul > li > ul > li > ul {
margin-bottom: 0;
}

.toc > ul > li > ul > li > ul > li ul {
margin-bottom: 0;
}

.hljs-dark .hljs {
border-radius: 6px;
}

blockquote {
border-left: 3px solid rgb(45, 190, 96);
padding-left:1em;
padding: 10px 15px;
}

blockquote ul,blockquote ul{
padding-left: 20px;
}


hr {
display: block;
border-bottom:1px solid rgb(204, 204, 204);
box-sizing: border-box !important;
word-wrap: break-word !important;
}


table td,table th{
text-align: left!important;
}

.hljs-light .hljs {
font-weight: bold;
border-radius:8px;
}

code{
padding: 2px 3px;
color: #d14;
border: 1px solid #e1e1e8;
font-weight: bold;
color: #c7254e;
background: #f9f2f4;
}
